html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
    background-color: #f8f9fa;
}

.hero {
    background: url("../img/catфон.jpg") center/cover;
    padding: 120px 0;
}

.card {
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: auto;
}